*/**************/
/* FONT-FAMILY */
/***************/
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/**********/
/* COLORS */
/**********/

div.playField {
  background-color: aliceblue;
}

figure {
  background-color: #666;
}

a {
  color:rgb(255, 105, 180);
}

/**************/
/* CONTAINERS */
/**************/

header, main, footer {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

main {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}

main > section:first-child {
  align-self: center;
}

div.playField {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex-basis: 70%;
}

ul {
  display: flex;
  flex-direction: column;
  flex-basis: 20%;
}

li {
  list-style-type: none;
  margin: 0.5rem 0;
}

button, h2{
  margin-left: 1.5rem;
}

button {
  font-size: 1.2rem;
  border-radius: 10px;
  text-align: center;
}

/************/
/* ELEMENTS */
/************/
figure, li {
  width: 150px;
  height: 150px;
}

img {
  width: 100%;
  height: 100%;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.7rem;
}

p, a {
  font-size: 1.2rem;
}

a {
  display: block;
  margin-top: 1em;
}

/***********/
/* CLASSES */
/***********/

.hidden {
  visibility: hidden;
}

/**********/
/* HOVER */
/*********/

figure:hover, button:hover {
  border: 2.5px solid rgb(255, 105, 180);
}

